<!DOCTYPE html>
<html>
<head>
  <title>Aplikasi TA/PA IT Telkom</title>
  <%= render 'layouts/stylesheet' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<section>
	<%= yield %>
</section>
<%= render 'layouts/footer' %>
</body>
</html>
